.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .button {
    display: flex;
    justify-content: center;
    font-weight: 500;
    /* Add your button styles here */
  }
  