.tableContainer {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  border-bottom: 2px solid #000;
}

.columnHeader {
  padding: 0.5rem;
  text-align: left;
  font-weight: 500;
}

