.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; /* picture is 500px */
  margin: 0; /* Remove any margins */
  padding: 5rem;
}

.logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.formGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #0070f3;
  margin-right: 8px;
}

.button {
  background-color: #0070f3;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonContainer {
  width: 100%; /* Span the same width as the form */
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Adjust the margin as needed */
}
.button:hover {
  background-color: #0052cc;
}

.signup {
  margin-top: 1rem;
}

.signupLink {
  text-decoration: none;
  color: #0070f3;
}
